export(expression.from.partitum)
export(make.collate.roclet)
export(make.had.roclet)
export(make.namespace.roclet)
export(make.roclet)
export(parse.default)
export(parse.file)
export(parse.files)
export(parse.name.description)
export(parse.name)
export(parse.ref.list)
export(parse.ref.preref)
export(parse.ref.srcref)
export(parse.ref)
export(parse.text)
export(parse.toggle)
export(parse.value)
export(register.preref.parser)
export(register.preref.parsers)
export(register.srcref.parser)
export(register.srcref.parsers)
export(roxygenise)
export(roxygenize)
import(memoise)
import(stringr)
