S3method(default_export,"function")
S3method(default_export,data)
S3method(default_export,rcclass)
S3method(default_export,s3generic)
S3method(default_export,s3method)
S3method(default_export,s4class)
S3method(default_export,s4generic)
S3method(default_export,s4method)
S3method(format,alias_tag)
S3method(format,arguments_tag)
S3method(format,author_tag)
S3method(format,concept_tag)
S3method(format,description_tag)
S3method(format,details_tag)
S3method(format,docType_tag)
S3method(format,encoding_tag)
S3method(format,examples_tag)
S3method(format,family_tag)
S3method(format,formals_tag)
S3method(format,format_tag)
S3method(format,inheritParams_tag)
S3method(format,keyword_tag)
S3method(format,name_tag)
S3method(format,note_tag)
S3method(format,rd_file)
S3method(format,rd_tag)
S3method(format,references_tag)
S3method(format,section_tag)
S3method(format,seealso_tag)
S3method(format,source_tag)
S3method(format,title_tag)
S3method(format,usage_tag)
S3method(format,value_tag)
S3method(length,rd_file)
S3method(merge,rd_file)
S3method(merge,rd_tag)
S3method(names,rd_file)
S3method(print,rd_file)
S3method(print,rd_tag)
S3method(roc_output,collate)
S3method(roc_output,had)
S3method(roc_output,namespace)
S3method(roc_process,collate)
S3method(roc_process,had)
S3method(roc_process,namespace)
S3method(topic_name,default)
S3method(topic_name,rcclass)
S3method(topic_name,s4class)
S3method(topic_name,s4method)
export(clear_caches)
export(collate_roclet)
export(is_s3_generic)
export(namespace_roclet)
export(new_roclet)
export(object)
export(parse.default)
export(parse.file)
export(parse.files)
export(parse.name)
export(parse.name.description)
export(parse.text)
export(parse.toggle)
export(parse.unknown)
export(parse.value)
export(parse.words)
export(rd_roclet)
export(register.preref.parser)
export(register.preref.parsers)
export(roc_out)
export(roc_proc)
export(roc_proc_text)
export(roxygenise)
export(roxygenize)
import(stringr)
importFrom(brew,brew)
importFrom(codetools,findGlobals)
importFrom(digest,digest)
importFrom(memoise,memoise)
importFrom(tools,checkRd)
